*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

div{
  background: aquamarine;
  width: 250px;
  height: 150px;
  border: 2px solid palevioletred;
}

section > div:nth-of-type(1){
  height: 200px;
}

section > div:nth-of-type(2){
  height: 100px;
}

section > div:nth-of-type(3){
  height: 300px;
}